@inherits Umbraco.Web.Mvc.UmbracoViewPage< ContentModels.Forum>
@using ContentModels = Umbraco.Web.PublishedModels;
@*
    displays the basic's of a forum (tite and intro)
*@

<div class="forum-info">
    <div class="page-header">
        <h2>@Model.ForumName</h2>
    </div>
    <div class="forum-intro">
        @Html.Raw(Model.ForumIntro)
    </div>
</div>