@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Verify>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "AuthMaster.cshtml";
}

<p>&nbsp;</p>
@Html.Action("RenderVerifyEmail", "ForumAuthSurface",new { guid = Request.QueryString["verifyGUID"] })

