@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Verify>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "AuthMaster.cshtml";
    if (!String.IsNullOrWhiteSpace((string) TempData["returnUrl"]))
    {
        Response.Redirect((string) TempData["returnUrl"]);
    }
}

<p>&nbsp;</p>
@Html.Action("RenderVerifyEmail", "ForumAuthSurface",new { guid = Request.QueryString["verifyGUID"] })

